<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div class="container">
  <hr>
  <div class="card">
    <div class="card-header">
      <h2>Editar Artigo</h2>
    </div>
    <div class="card-body">
      <form method="POST" action="/articles/update">
        <input type="hidden" value="<%= article.id %>" name="id">
        <input class="form-control" type="text" name="title" 
        placeholder="Adicione Titulo do artigo" value="<%= article.title %>"><br>
        <h4>Categoria</h4>
        <select name="category" class="form-control">
          <% categories.forEach((category) => { %>
              <% if(category.id == article.categoryId) { %>
                  <option value="<%= category.id %>" selected><%= category.title %></option>
              <% } else { %>
                  <option value="<%= category.id %>"><%= category.title %></option>
              <% } %>
          <% }) %>
        </select><br>
        <textarea class="form-control" placeholder="Escreve o artigo" 
        name="body" id="article"><%- article.body %></textarea><br>
        <button class="btn btn-success">Salvar</button>
      </form><br>
    </div>
  </div>
</div>

<%- include('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
  tinymce.init({
    language: "pt_BR",
    selector:"#article",
    plugins: [
      'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
    ]
  })
</script>