<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div class="container">
  <br><h2>Usuários</h2><br> 
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
        </tr>
      <% }) %>
    </tbody>
  </table><br>
  <a class="btn btn-success" href="/admin/users/create">Criar usuario</a><br>
</div>
<%- include('../../partials/footer.ejs') %>